<div class="campaign-container">
  <div class="campaign-header">
    <h3 class="campaign-name">{{ campaign.name }}</h3>
    <div>
      <label class="switch" style="width: 60px">
        <input
          type="checkbox"
          id="toggle"
          [checked]="editableCampaign.status === 'on'"
          [disabled]="
            editableCampaign.status === 'off' &&
            balance - editableCampaign.fundAmount < 0
          "
          (input)="handleToggle()"
        />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="campaign-body">
    <button
      class="btn keywords-container"
      (click)="isKeywordModalOpened = true"
    >
      <div class="keywords-container-overlay"></div>
      <div class="keywords-container-list">
        <div *ngFor="let keyword of campaign.keywords" class="keyword">
          {{ keyword }}
        </div>
      </div>
    </button>

    <div class="accordion">
      <button
        class="btn accordion-btn"
        (click)="openAccordion = !openAccordion"
      >
        <p>Details</p>
        <img src="/assets/arrow-down.svg" alt="" />
      </button>

      <div
        class="accordion-content"
        [ngClass]="{ open: openAccordion, closed: !openAccordion }"
      >
        <div class="campaign-details">
          <div class="campaign-details-row">
            <div class="campaign-details-row-label">Status:</div>
            <div class="campaign-details-row-value">{{ campaign.status }}</div>
          </div>

          <div class="campaign-details-row">
            <div class="campaign-details-row-label">Bid amount:</div>
            <div class="campaign-details-row-value">
              {{ campaign.bidAmount }} PLN
            </div>
          </div>
          <div class="campaign-details-row">
            <div class="campaign-details-row-label">Campaign fund:</div>
            <div class="campaign-details-row-value">
              {{ campaign.fundAmount }} PLN
            </div>
          </div>

          <div class="campaign-details-row">
            <div class="campaign-details-row-label">Town:</div>
            <div class="campaign-details-row-value">{{ campaign.town }}</div>
          </div>
          <div class="campaign-details-row">
            <div class="campaign-details-row-label">Radius:</div>
            <div class="campaign-details-row-value">
              {{ campaign.radius }} KM
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="campaign-footer">
      <button class="campaing-footer-btn" (click)="isEditModalOpened = true">
        <img src="/assets/edit.svg" alt="" />
      </button>
      <button
        class="campaing-footer-btn campaign-footer-btn-delete"
        (click)="handleDelete()"
      >
        <img src="/assets/trash.svg" alt="" />
      </button>
    </div>
  </div>
</div>
<app-campaign-modal
  (onClose)="isEditModalOpened = false"
  (onSubmit)="handleEdit($event)"
  [isOpened]="isEditModalOpened"
  type="edit"
  [campaign]="editableCampaign"
/>
<app-campaign-keyword-modal
  (onClose)="isKeywordModalOpened = false"
  [isOpened]="isKeywordModalOpened"
  [keywords]="campaign.keywords"
/>
