<div class="campaign-container">
  <div class="campaign-header">
    <h3>{{ campaign.name }}</h3>
    <div>
      <div class="status-badge"></div>
      <p>{{ campaign.status }}</p>
    </div>
  </div>
  <div class="campaign-body">
    <button
      class="btn keywords-container"
      (click)="isKeywordModalOpened = true"
    >
      <div class="keywords-container-overlay"></div>
      <div class="keywords-container-list">
        <div *ngFor="let keyword of campaign.keywords" class="keyword">
          {{ keyword }}
        </div>
      </div>
    </button>

    <div class="accordion">
      <button
        class="btn accordion-btn"
        (click)="openAccordion = !openAccordion"
      >
        <p>Details</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          fill="#fff"
          viewBox="0 0 256 256"
        >
          <path
            d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm37.66-85.66a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32,0l-32-32a8,8,0,0,1,11.32-11.32L120,148.69V88a8,8,0,0,1,16,0v60.69l18.34-18.35A8,8,0,0,1,165.66,130.34Z"
          ></path>
        </svg>
      </button>

      <div
        class="accordion-content"
        [ngClass]="{ open: openAccordion, closed: !openAccordion }"
      >
        <div class="campaign-details">
          <div class="campaign-details-row">
            <div class="campaign-details-row-label">Bid amount:</div>
            <div class="campaign-details-row-value">
              {{ campaign.bidAmount }} PLN
            </div>
          </div>
          <div class="campaign-details-row">
            <div class="campaign-details-row-label">Campaign fund:</div>
            <div class="campaign-details-row-value">
              {{ campaign.fundAmount }} PLN
            </div>
          </div>
          <!-- <div class="campaign-details-row">
            <div class="campaign-details-row-label">Status:</div>
            <div class="campaign-details-row-value">{{ campaign.status }}</div>
          </div> -->
          <div class="campaign-details-row">
            <div class="campaign-details-row-label">Town:</div>
            <div class="campaign-details-row-value">{{ campaign.town }}</div>
          </div>
          <div class="campaign-details-row">
            <div class="campaign-details-row-label">Radius:</div>
            <div class="campaign-details-row-value">
              {{ campaign.radius }}km
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="campaign-footer">
      <button class="campaing-footer-btn" (click)="isEditModalOpened = true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#00bcd4"
          viewBox="0 0 256 256"
        >
          <path
            d="M227.31,73.37,182.63,28.68a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H92.69A15.86,15.86,0,0,0,104,219.31L227.31,96a16,16,0,0,0,0-22.63ZM51.31,160,136,75.31,152.69,92,68,176.68ZM48,179.31,76.69,208H48Zm48,25.38L79.31,188,164,103.31,180.69,120Zm96-96L147.31,64l24-24L216,84.68Z"
          ></path>
        </svg>
      </button>
      <button
        class="campaing-footer-btn campaign-footer-btn-delete"
        (click)="handleDelete()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#c70a0a"
          viewBox="0 0 256 256"
        >
          <path
            d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
<app-campaign-modal
  (onClose)="isEditModalOpened = false"
  (onSubmit)="handleEdit($event)"
  [isOpened]="isEditModalOpened"
  type="edit"
  [campaign]="editableCampaign"
/>
<app-campaign-keyword-modal
  (onClose)="isKeywordModalOpened = false"
  [isOpened]="isKeywordModalOpened"
  [keywords]="campaign.keywords"
/>
