<div
  class="modal"
  *ngIf="isOpened"
  [ngClass]="{
    'animate-fade-out': closingAnimation,
    'animate-fade-in': !closingAnimation
  }"
>
  <div class="modal-contnet">
    <h2>
      {{ type === "new" ? "Create campaign" : "Edit " + campaign.name }}
    </h2>
    <div class="modal-input-container">
      <div class="modal-input-container-row">
        <label>Campaign name</label>
        <input
          type="text"
          [value]="editableCampaign.name"
          (input)="handleCampaignNameChange($event)"
          maxlength="25"
        />
      </div>
      <div class="modal-input-container-row">
        <label>Keywords</label>
        <app-typeahead
          [query]="currentKeyword"
          [keywords]="keywords"
          (onSelectedQuery)="setKeyword($event)"
        />
        <button class="btn" (click)="addKeyword()">Add</button>
      </div>

      <div
        class="keywords-container"
        *ngIf="editableCampaign.keywords.length > 0"
      >
        <span *ngFor="let keyword of editableCampaign.keywords" class="keyword">
          {{ keyword }}
          <button (click)="removeKeyword(keyword)" class="keyword-btn-delete">
            x
          </button>
        </span>
      </div>
      <div class="modal-input-container-row">
        <label
          >Bid<span class="modal-input-additional-placeholder"
            >(PLN)</span
          ></label
        >
        <input
          type="number"
          id="bid"
          min="10"
          max="1000000"
          maxlength="10"
          [(ngModel)]="editableCampaign.bidAmount"
          [formControl]="bidControl"
        />
      </div>
      <div class="modal-input-container-row">
        <label
          >Fund <span class="modal-input-additional-placeholder">(PLN)</span>
        </label>
        <input
          type="number"
          id="fund"
          min="10"
          max="100000000"
          [(ngModel)]="editableCampaign.fundAmount"
          [formControl]="fundControl"
        />
        <p class="fund-remainging">
          <span>Remains:</span>
          <br />

          {{
            this.balance +
              this.campaign.fundAmount -
              this.editableCampaign.fundAmount >
            0
              ? this.balance +
                this.campaign.fundAmount -
                this.editableCampaign.fundAmount
              : 0
          }}
        </p>
      </div>

      <div class="modal-input-container-row">
        <label>Status</label>
        <label class="switch" style="width: 60px">
          <input
            type="checkbox"
            id="toggle"
            [checked]="editableCampaign.status === 'on'"
            (input)="
              editableCampaign.status === 'on'
                ? (editableCampaign.status = 'off')
                : (editableCampaign.status = 'on')
            "
          />
          <span class="slider round"></span>
        </label>
        <span class="modal-input-additional-placeholder">{{
          editableCampaign.status
        }}</span>
      </div>
      <div class="modal-input-container-row">
        <label>Town</label>
        <select
          id="town"
          [(ngModel)]="editableCampaign.town"
          (input)="handleSetTown($event)"
        >
          <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
        </select>
      </div>
      <div class="modal-input-container-row">
        <label
          >Radius
          <span class="modal-input-additional-placeholder">(km)</span></label
        >
        <input
          type="number"
          id="radius"
          min="10"
          max="100000"
          [(ngModel)]="editableCampaign.radius"
          [formControl]="radiusControl"
        />
      </div>
    </div>
    <div class="modal-button-container">
      <div class="modal-button-container-btns">
        <button class="btn-filled" (click)="handleClose()">Cancel</button>
        <button class="btn-filled" (click)="handleSubmit()">
          {{ type === "new" ? "Create" : "Save" }}
        </button>
      </div>

      <p class="error-msg">{{ errorMsg }}</p>
    </div>
  </div>
</div>
<div
  class="modal-overlay"
  *ngIf="isOpened"
  [ngClass]="{
    'animate-overlay-fade-out': closingAnimation,
    'animate-overlay-fade-in': !closingAnimation
  }"
  (click)="handleClose()"
></div>
