<div class="campaigns-list-container">
  <!-- <p>No campaigns added yet!</p> -->
  <!-- <div *ngIf="(campaigns$ | async)!.length > 0; else elseBlock">
      <p>No campaigns added yet!</p>
    </div> -->
  <!-- <div style="color: white">{{ count$ | async }}</div> -->
  <div
    *ngIf="(campaigns$ | async)!.campaigns.length === 0"
    class="campaigns-warning"
  >
    <p>No campaigns added yet!</p>
  </div>

  <app-campaign
    *ngFor="let campaign of (campaigns$ | async)!.campaigns"
    [campaign]="campaign"
    class="campaign-container-wrapper"
  />
</div>
