<div class="campaigns-container">
  <div class="campaings-header">
    <h2>Your campaigns</h2>
  </div>
  <div>
    <app-actions />
  </div>
  <div class="campaigns-list-container">
    <!-- <p>No campaigns added yet!</p> -->
    <!-- <div *ngIf="(campaigns$ | async)!.length > 0; else elseBlock">
      <p>No campaigns added yet!</p>
    </div> -->
    <ng-template>
      <!-- <app-campaign
        *ngFor="let campaign of (campaigns | async)!.campaigns"
        [campaign]="campaign"
      /> -->
      <!-- <div *ngFor="let campaign of (campaigns$ | async)!.campaigns">
        {{ campaign.name }}
      </div> -->
      {{ count$ | async }}
    </ng-template>
  </div>
</div>
