.campaigns-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
  overflow: hidden;
}
.campaigns-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: inherit;
  overflow-y: scroll;
}
.campaigns-list-container::-webkit-scrollbar {
  display: none;
}

.campaings-header {
  width: 100%;
  text-align: left;
  padding: 10px;
}
.campaings-header > h2 {
  font-size: 28px;
}
