<div class="actions-container">
  <button class="btn-filled actions-btn" (click)="isModalOpened = true">
    Add
  </button>
  <input
    type="text"
    [(ngModel)]="query"
    (input)="handleSearch($event)"
    placeholder="Search by name"
    class="actions-search-input"
    maxlength="25"
  />
  <button (click)="handleClear()">
    <img
      *ngIf="query !== ''"
      src="/assets/clean.svg"
      alt="Clean"
      style="animation: fadeInOverlay 0.5s"
    />
  </button>
  <app-campaign-modal
    (onClose)="isModalOpened = false"
    (onSubmit)="handleAdd($event)"
    [isOpened]="isModalOpened"
    type="new"
  />
</div>
